* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

/*#fea837
#de741c
#b85b56
#84495f
#593567
#352f4c*/
/*#011627
#7c7a7a
#41ead4
#fdfffc
#ff5d73*/