body {
   background-color: #011627;
}
html {
    scroll-behavior: smooth;
}

/*HEADER ---------------------*/
header {
    position: fixed;
  /*  background-color: #011627;*/
    backdrop-filter: blur(10px);
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h1 {
    font-family: 'Nova Mono', monospace;
    font-size: 40px;
    color: #fea837;
}
nav {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
a {
    font-size: 30px;
    color: #fdfffc;
    opacity: 30%;
    text-decoration: none;
    text-shadow: 0 0 5px #fdfffc;
}
a:hover {
    opacity: 100%;
    transition: opacity 0.5s;
}
a:active {
    color: #fea837;
    transition: color 0.1s;
    text-shadow: 0 0 5px #fea837;
}
/*MAIN ---------------------*/
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*primeira seção --------------------*/
.sec-one {
    margin-top: 10vh;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
h2 {
    font-family: 'Nova Mono', monospace;
    font-size: 70px;
    color: #fea837;
}
p {
    font-size: 30px;
    color: #fdfffc;
}
.first-div {
    padding-top: 15%;
    padding-left: 20px;
    width: 40%;
}
.foto {width: 100%;
height: 100%;}

/*segunda seção --------------------*/
.sec-two {background-image: url(about.png);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.sec-two > div {
    width: 50vw;
    text-align: center;
}
h3 {
    font-family: 'Nova Mono', monospace;
    font-size: 70px;
    color: #fea837;
}

/*terceira seção --------------------*/
.sec-three {background-color: #352f4c;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.sec-three > div {
    width: 50vw;
    text-align: center;
}
.inter {background-image: url(background.png);
    background-size: cover;
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul {
    font-size: 35px;
    color: #fdfffc;
    list-style: none;
}
label {
    font-size: 20px;
    color: #fdfffc;
}
input, textarea {background: none;
    border: 2px solid #fdfffc;
    border-radius: 10px;
    width: 40vw;
    color: #fdfffc;
    font-size: 15px;
    padding: 10px;
}
fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    gap: 10px;
    padding-bottom: 10%;
}
/*quarta seção --------------------*/
.sec-four {
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15%;
}
.botao {
    width: 15%;
    background-color: #fea837
    font-size 20px;
    color: #011627;
}
/*footer ---------------*/
footer {
    height: 10vh;
    width: 100vw;
    text-align: center;
}
.meio {
    width: 70%;
    text-align: center;
}